# ===================================================================
# artellapipe-tools-xgenmanager requirements file
# ===================================================================
Qt.py
tpDccLib
artellapipe
artellapipe-libs-artella