# ===================================================================
# artellapipe-tools-xgenmanager requirements file
# ===================================================================

artellapipe-core